* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #FFDAB9;
    color: #112A46;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    transition: all 0.3s linear;
    background-color: #112A46;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
    font-size: 2rem;
}

#your-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 4rem;
}

#msg {
    background-color: #112A46;
    color: #FFDAB9;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}